In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("data/Total_SNAP_Recipients.csv")
df

        Month Total SNAP Recipients
0    Apr 2019             1,550,397
1    Mar 2019             1,561,666
2    Feb 2019             1,564,537
3    Jan 2019             1,570,537
4    Dec 2018             1,571,790
..        ...                   ...
119  May 2009             1,473,304
120  Apr 2009             1,444,403
121  Mar 2009             1,415,907
122  Feb 2009             1,390,204
123  Jan 2009             1,366,942

[124 rows x 2 columns]